$main-color: #1da7b4;
$warning: orange;
$primary: black;

body{
    background: url("/media/media/bg.png");
    margin: 20px;
}

nav{
    background-color: $warning;
}
h1{
    color: $main-color;
    background-color: $warning ;

}

.card{
    padding: 10px;
    img{
        
        width: 100%;
        height: 100%;
        object-fit:contain; 
        
    }
}

a:hover{
    text-decoration: none;
}
