$main-color: #1da7b4;
$warning: #ffc107;
$primary: rgb(38, 38, 38);

body{
    background: url("/media/media/bg.png");
   
    background-size: cover;
    margin: 20px;
}

nav{
    background-color: $main-color;
}
h1{
    color: $primary;
    

}

.card{
    padding: 10px;
    img{
        
        width: 100%;
        height: 100%;
        object-fit:contain; 
        
    }
}

a:hover{
    text-decoration: none;
}
