body {
    display: inline;
}

.header_buttons {
    color: blue;
    float: right;
    padding: 8px;
    margin-right: 10px;
}

button {
    background-color: blue;
    border-radius: 4px;
    border: none;
    padding: 3px;
}


.centered {
    text-align: center;
}