{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>
 
    <button class="btn btn-sm btn-outline-secondary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-secondary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-secondary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-secondary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        <div></div>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" action="{% url 'compose' %}" method="post">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="recipients" placeholder="Recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="body" placeholder="Body"></textarea>
            <input id="send" type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="reply-view">
        <h3>Reply Email</h3>
        <form id="compose-form" action="{% url 'compose' %}" method="post">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input class="form-control" type="text"  placeholder="Recipients" id="reRecipients">
            </div>
            <div class="form-group">
                <input disabled class="form-control"  type="text" id="reSubject" placeholder="Subject">
            </div>
            <div class="form-group">
                <textarea disabled class="form-control"  type="text" id="reEmail" placeholder="Reply..."></textarea>
            </div>
            <textarea class="form-control" id="reBody" placeholder="Reply"></textarea>
            <input id="send-reply" type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}