{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
<form method="post" action="{% url 'create' %}">
    {% csrf_token %}
  <div class="input-group mb-3">
      <input type="text" class="form-control col-md-6" name="title"  placeholder="Title" aria-label="Title" aria-describedby="basic-addon1">
    </div>
  <div class="input-group">
      <textarea class="form-control col-md-6" name="markdown_content" placeholder="Entry"  aria-label="entry textarea" rows="8"></textarea>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
{% endblock %}