{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

{% if entry_content %}
<!-- |safe translates markdown to user readable html-->
<h1>{{ title }}</h1>
    {{ entry_content|safe }}
{% else %}
    <p>no entry found</p>
{% endif %}

<!-- edit button-->

<form action="{% url 'edit' %}" method="post" id="myForm">
    {% csrf_token %}
    <button type="hidden" class="btn btn-primary" name="toEdit" value="{{ title }}">Submit</button>
</form>

{% endblock %}