{% extends 'auctions/layout.html' %}

{% block body %}
<form method="post" action="{% url 'create' %}" id="create "enctype="multipart/form-data">
    {% csrf_token %}
       
        <div class="form-group col-sm-2">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="input-group col-md-6 mb-3">
            <textarea class="form-control" name="description" placeholder="Description"  aria-label="entry textarea" ></textarea>
        </div>  
        <div class="input-group col-sm-2 mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" id="validationCustom05" required name="start_bid"placeholder="Starting Bid" aria-label="Amount (to the nearest dollar)">
        </div>
        <div class="mb-3 col-sm-2">
            <input class="form-control" name="image" id="formFile" type="file">
        </div>
        <label for="category">Category:</label>
        <select name="category" id="category">
            {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option> 
            {% endfor %}
        </select>
        
        
        <button type="submit" class="btn btn-primary btn-sm">submit</button>
</form>
{% endblock %}