{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    
    {% for listing in listings %}
    {% if listing.is_active %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4"><a href="{% url 'listing' listing.id %}">
            <img src="{{ listing.image.url}}" class="img-fluid rounded-start" alt="{{ listing.title }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"> Card title</h5></a>
              <p class="card-text">{{ listing.description }}</p>
              <p class="card-text"><small class="text-muted">${{ listing.start_bid }}</small></p>
              <p class="card-text"><small class="text-muted">Posted by: {{ user.username }}</small></p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    {% endfor %}


{% for category in categories %}
    {{ category }}
{% endfor %}
{% endblock %}