{% extends "auctions/layout.html" %}

{% block body %}



<!-- THE CARD -->
    <div class="card col-mb-3 mb-3">

        <!-- LISTING -->
        <h5 class="card-title card-header bg-transparent secondary-text-emphasis text-center mb-3">{{ title }} </h5>
        <!-- <img src="{{ image }}" class="img-fluid rounded-start w-25" alt="..."> -->
       
        <img src="{{ image }}" class="rounded-start" alt="{{ title }}">
       
        <div class="card-body">
        <p class="card-text">{{ description }}</p>
        </div>
        <p class="card-text"><small class="text-muted">Start Bid: ${{ start_bid }}</small></p>
        <p class="card-text"><small class="text-muted">Posted by: {{ owner }}</small></p>


        {% if user.is_authenticated %}
        <!-- watchlist -->
        <form action="{% url 'add_rmv_watchlist' id=id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-warning">Watchlist</button>
        </form>

        <!-- place bid -->
        <!-- why do I need to use striptags?
             Why is username case sensitive? -->
        {% if listing.winner %}
            {% if listing.winner.username == logged_in.username %}
                <p>You are the winner!</p>
            {% else %}
                <p>{{ listing.winner.username }} is the winner!</p>
            {% endif %}

        {% else %}
            {% if bidder|striptags == logged_in.username|striptags %}
                <p>You are latest bidder</p>
            {% elif bidder %}
                {{ bidder }} has the current bid of {{ bid }}
            {% else %}
                No Current Bids.
            {% endif %}
        {% endif %}
        <form action="{% url 'bid' id=id %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="bid" placeholder="Bid Amount" aria-label="place bid amount">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Place Bid</button>
            </div>
        </form>
        {% endif %}
        <!--Error Message-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
<!-- Card End -->


    <!-- comments-->
{% if user.is_authenticated %}
<form action="{% url 'listing' id=id %}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <textarea class="form-control " name="comment" placeholder="comment"  aria-label="entry textarea" rows="4"></textarea>
    </div>
    <button type="submit">Post Comment</button>
</form>
{% endif %}
Comments:
{% for comment in comments %}
    <li> {{ comment.user }}: {{ comment.text }}</li>
    <br>
{% endfor %}
<br>
<!-- deactivate-->
{% if logged_in == owner %}
    <form action="{% url 'toggle_active' id=id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger active">Deactivate</button>
    </form>
{% endif %}

Owner: {{ owner.username }}
<br>
Category: {{ category }}
{% endblock %}

