{% extends "auctions/layout.html" %}

{% block body %}
{% csrf_token %}

<br>
{% for item in watchlist %}
    <div class="card">
        <h5 class="card-title card-header bg-transparent text-center">{{ item.title }} </h5>
        <img src="{{ item.image.url }}" class="img-fluid rounded-start w-25" alt="...">
        <div class="card-body">
        <p class="card-text">{{ item.description }}</p>
        </div>
        <p class="card-text"><small class="text-muted">${{ item.start_bid }}</small></p>
        <p class="card-text"><small class="text-muted">Posted by: {{ item.owner.first }}</small></p>
    </div>
{% endfor %}
<br>

{% endblock %}