textarea {
    min-height: 400px;
}
body{
    background-color: rgb(34, 34, 34);
    color: #949494;
}
.reEmail{
    max-height: 40px;
}

.email-content {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
  }
  
  .timestamp {
    color: gray;
    margin-right: 1%;
  }