{% extends "network/layout.html" %}

{% block body %}

<!-- User Posting Card (Static) -->
<div class="card m-4">
    <div class="card-body row g-0 ">
        <img src="https://cdn.iconscout.com/icon/free/png-256/free-pokemon-pokeball-game-go-34722.png">
        <div class="col-md-4">
            <!-- Post Textarea and Submit Button -->
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>
</div>
<!-- Display Posts (Dynamic) -->
<div id="posts"></div>
{% endblock %}