{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<!-- Make Giant Page Card-->
<!--Profile Pic (make model or a default) -->
<!-- username -->
<!-- follow button (exclude if on current.user's profile)-->
<!-- # of followers -->
<!-- # of follows -->
<!-- posts loop from context ?:append here or view?  -->
<p>{{ username }}</p>
<p>Followers: {{ followers }}</p>
<p>Following: {{ following }}</p>
<div>
    {% for post in posts %}
        <ul>
            <li>
                {{ post.timestamp }}
                {{ post.text }}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}