{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<!-- Make Giant Page Card-->
<!--Profile Pic (make model or a default) -->
<!-- username -->
<!-- follow button (exclude if on current.user's profile)-->
<!-- # of followers -->
<!-- # of follows -->
<!-- posts loop from context ?:append here or view?  -->
<h1 class="target_user">{{ target_user }}</h1>

{% if user.is_authenticated %}

{% if is_following %}
    <p>You are already following this user.</p>
{% else %}
    <button class="followButton" onclick="follow_user(event,'{{ target_user.id }}')">Follow</button>
    <div class="followMessage"></div>
{% endif %}
<!-- toggle message for follow/unfollow-->
{% endif %}

<p>Followers: {{ followers }}</p>
<p>Following: {{ following }}</p>
<div>
    {% for post in posts %}
        <ul>
            <div class="card w-75">
                <h1>{{post.user}}</h1>
                <h5>{{post.text}}</h5>
                <p>{{post.timestamp}}</p>
                <p>{{post.likes}} Likes</p>
            </div>
             
            
            
        </ul>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}