$slate: #768698;


body{
    background-color: $slate;
}

.user-pic{
    padding: 70px;
    font-size: 12px;
    background-color:slateblue;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    color: white;
    text-align: center;
}
.poster-pic{
    padding: 10px;
    font-size: 10px;
    background-color:slateblue;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
}