$slate: #768698;
$darkslate: #3d454f;
$darkerslate: #343a40;

.offcan-butt{
        position:fixed;
        z-index: 1;
       
}

body{
    background-color: #222;
}

.side-nav{
    display: block;
    height: 100%;
}

.post-pic{
    padding: 70px;
    font-size: 12px;
    background-color:$darkslate;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    color: white;
    text-align: center;
}
.user-pic{
    padding: 10px;
    font-size: 10px;
    background-color:$darkslate;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: white;
    text-align: center;
}

.postcard{
    max-width: 90%;
    background-color: $slate;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.make-post-card{
    max-width: 90%;
    background-color: $slate;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

a{
    color: $darkerslate;
}

