$slate: #768698;


body{
    background-color: $slate;
}

.user-pic{
    padding: 10px;
    font-size: 18px;
    background-color:slateblue;
    border-radius: 20px;
    color: white;
    width: 300px;
}